@import '../../assets/variable.scss';

.task {
  @extend %flex-row;
  justify-content: space-between;
  // font-family: $font-primary;
  position: relative;
  z-index: 5;
  top: center;
  overflow: visible;
  color: $white;
  border-bottom: 1px solid $secondary-hover;
  width: 519px;
  min-height: 80px;

  @media screen and(max-width: 768px) {
    width: calc(100vw + 220px);
  }

  &__delete {
    @extend %flex-row;
    justify-content: center;
    background-color: $error;
    width: 110px;
    min-height: 80px;
  }

  &__delete-field,
  &__complete-field {
    // background-color: $bg-secondary;
    width: 40px;
    min-height: 80px;
    cursor: pointer;
  }

  &__complete {
    @extend %flex-row;
    justify-content: center;
    background-color: $green;
    width: 110px;
    min-height: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $black;
    // background-color: $bg-secondary;
    min-height: 80px;
    width: 239px;

    @media screen and(max-width: 768px) {
      width: 86vw;
    }

    &-text {
      font-size: 1.6rem;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    &-date {
      @extend %flex-row;
      font-size: 1.4rem;
    }

    h3 {
      font-family: $font-primary;
      font-size: 1.8rem;
      margin: 5px 0;
    }

    .overflow {
      @extend %overflow;
    }

    .popup {
      position: absolute;
      z-index: 95;
      // left: 0;
      // top: 0;
      background-color: $secondary-hover;
      width: 100vw;
      height: 100vh;
    }

    mat-icon {
      margin: 5px 5px 5px 0;

    }
  }
}

.left {
  left: 0;
  animation: left 1s ease-in-out;
}

.center {
  left: -110px;
}

.right {
  left: -220px;
  animation: right 1s ease-in-out;
}

@keyframes left {
  from {
    left: -110px;
  }

  to {
    left: 0px
  }
}

@keyframes right {
  from {
    left: -110px;
  }

  to {
    left: -220px
  }
}
