<div class="task " [ngClass]='{center:center,left:left,right:right}'>
  <div class="task__delete  left" (click)='deleteTask();showTask()'>
    <button mat-icon-button matTooltip="delete task">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="task__delete-field" (click)='showDeleteButton()' matTooltip="Left click  to clear a todo."></div>
  <div class="task__content" (click)='showTask();'>


    <h3>Task</h3>

    <div class="task__content-text" [ngClass]='{overflow:overflow}' (click)='overflow=!overflow' >
      {{description}}
    </div>

    <div class="task__content-date">
      <mat-icon>alarm</mat-icon> 21.03.2019
    </div>
  </div>
  <div class="task__complete-field" (click)='showCompleteButton()' matTooltip="Right click  to complete a todo."></div>
  <div class="task__complete right" (click)='completeTask();showTask()'>
    <button mat-icon-button matTooltip="complete task">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
